.dockerignore
.env
.git
.gitignore
.pytest_cache
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFES
venv
logs/
*.log
.DS_Store
README.md
Dockerfile
docker-compose.yml 